.footer{
    width: 100vw;
    height: 4rem;
    font-size: small;
    font-weight: 300;
    background-color: rgb(15, 15, 15);
    display: flex;
    align-items: center;
    justify-content: center; 
}