.education{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: center;
    text-align: start;
    margin: 0 auto;
    

}
   

.eduHead{
    font-size: 1.75rem;
    font-weight: 600;
    padding-top: 4rem;
    margin-bottom: 40px;
}

.Bars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;

}

.Bar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50,50,50);

}

.BarImg{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    margin-right: 2rem;
}


.BarText>p {
    font-size: 0.90rem;
    font-weight: 300;

}

.BarText>h2 {
    font-size: 1.2rem;
}

