#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin: 0 auto;

}

.skillTitle{
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 3rem;
}