.intro{
    display: flex;
    height: calc(100vh - 5rem);
    width: 100vw;
    margin: 0 auto;
    max-width: 75rem;
    
}

.intro img:nth-child(2){
    width: 500px;
}



.introContent{
    height: 90vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: start;
     
}

.hello{
    font-size: 1.75rem;
    font-weight: 300;
    margin-bottom: 20px;

}

.introName{
    color: hsl(0, 0%, 28%);;
    cursor: pointer;
    letter-spacing:2.5px;
    font-weight: bold;
    font-size: 50px;
    padding: 25px;
    background: linear-gradient(
        to right,
         rgb(179, 154, 107) 0,
         rgb(245, 222, 179) 10%,
         hsl(0,0%,30%) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s infinite linear;

}

@keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 600px;
    }
    100% {
      background-position: 600px;
    }
  }
  
  

.introPara{
    font-size: medium;
    font-weight: 400;
    margin-top: 20px;
} 

.btn{
    background:rgb(255, 251, 244);
    color: black;
    display:flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 2rem;
    padding: 0,1rem;
    height: 3rem;
    padding-right: 20px;
    margin-top: 40px;
    width: 120px;
    cursor: pointer;
}

.btn:hover{
    background-color: wheat;
}

.btn svg{
    margin-left: 20px;
    margin-right: 10px;
}

